.content {
  background-color: #ffffff;

  form {
    background-color: #34495e;
    text-align: center;
    padding: 50px 0;

    h2 {
      color: #ffffff;
      font-size: 24px;
      margin: 0 auto 20px;
    }

    input {
      font-family: "Dosis", sans-serif;
      font-size: 16px;

      &.button {
        background-color: #2980b9;
        border: 0;
        color: #ffffff;
        font-weight: bold;
        outline: none;
        padding: 12px 30px;
      }

      &.input {
        max-width: 200px;
        padding: 10px 40px;
      }
    }
  }

  .header {
    background-color: #3498db;
    padding: 60px 0 80px;
    text-align: center;

    &__title {
      color: #fff;
      font-size: 42px;
      margin: 30px 0;
    }

    &__image {
      img {
        max-width: 130px;
      }
    }

    p {
      font-size: 24px;
      color: #fff;
      max-width: 80%;
      margin: 0 auto;
    }
  }

  .result {
    margin: 50px 0;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}
